.Buttons {
    height: 80%;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    background-color: black;
}

.ButtonsLeft {
    height: 100%;
    width: 75%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
}

.top {
    height: 20%;
    width: 100%;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-evenly;
}

.Ac {
    width: 214px;
    height: 100%;
    background: rgb(172, 57, 57);

}

.divide {
    width: 108px;
    height: 100%;
    background: rgb(102, 102, 102);
}

.digit {
    height: 60%;
    width: 100%;
    /* border: 2px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.digit button {
    height: 73px;
    width: 107px;
    background: #4d4d4d
}

.bottom {
    height: 20%;
    width: 100%;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-evenly;
}

.zero {
    width: 215px;
    height: 100%;
    background: #4d4d4d
}

.dot {
    width: 107px;
    height: 100%;
    background: #4d4d4d
}

.ButtonRight {
    height: 100%;
    width: 25%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.ButtonRight .top {
    height: 74px;
    width: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(102, 102, 102);

}

.equal {
    height: 149px;
    width: 108px;
    background: rgb(0, 68, 102);
}

button {
    outline: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    font-family: Share Tech Mono, monospace;
}

button:hover {
    color: black;
    outline: 0.05em solid grey;
    z-index: 3;
}