.Display {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

input {
    height: 50%;
    width: 100%;
    text-align: end;
    font-size: 1.5rem;
    outline: none;
    border: none;
    color: white;
    background-color: black;

}

.output {
    height: 50%;
    width: 100%;
    text-align: end;
    font-family: digital;
    color: orange;
}